[submodule "nodeodm/external/NodeODM"]
	path = nodeodm/external/NodeODM
	url = https://github.com/netcadlabs/NodeODM
[submodule "locale"]
	path = locale
	url = https://github.com/OpenDroneMap/WebODM-Locale
